# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ignore Django migration files
*/migrations/*
!*/migrations/__init__.py

# Virtual Environment
venv/
env/
stackenv/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.local

# Media & Static
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Distribution / packaging
*.egg-info/
dist/
build/
