{% if messages %}
<div class="fixed top-4 right-4 z-50 space-y-2 w-80">
    {% for message in messages %}
        <div 
            x-data="{ show: true }"
            x-init="setTimeout(() => show = false, 3000)"
            x-show="show"
            x-transition.opacity.duration.500ms
            class="relative px-4 py-3 rounded shadow-lg text-white
            {% if message.tags == 'success' %}
                bg-green-500
            {% elif message.tags == 'error' %}
                bg-red-500
            {% elif message.tags == 'info' %}
                bg-blue-500
            {% elif message.tags == 'warning' %}
                bg-yellow-500 text-black
            {% endif %}
            "
        >
            <div class="flex justify-between items-center">
                <span>{{ message }}</span>
                <button 
                    @click="show = false"
                    class="ml-4 font-bold text-lg focus:outline-none"
                >
                    &times;
                </button>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
<script src="//unpkg.com/alpinejs" defer></script>